.navbar-google{                       /* '.' is a CSS class selector */
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.navbar-item-google{
    margin: 10px;
}

/* unvisited link */
a:link {
    color: black;
  }
  
  /* visited link */
  a:visited {
    color: black;
  }
  
  /* mouse over link */
  a:hover {
    color: black;
  }
  
  /* selected link */
  a:active {
    color: black;
  }
  

.center-div{
    display: flex;
    justify-content: center;
}

.rounded-input{
    display: flex;
    z-index: 3;
    min-height: 30px;
    background: white;
    border: 1px solid #5f6368;
    box-shadow: none;
    border-radius: 24px;
    margin: 0 auto;
    width: 638px;
    width: 384px;
    max-width: 584px;
    margin-top: 30px;
    padding: 10px;
    font-size: 16px;
    font-style: normal;
    line-height: 22px;
}

.submit-button{
    background-color: black;
    border: 1px solid #303134;
    border-radius: 4px;
    color: #e8eaed;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
    margin-top: 20px;
}

.h1-advanced{
    color: #d93025;
    font-size: 20px;
    margin: 25px 35px;
}

.line{
    border-bottom: 1px solid #ebebeb;
}

.h2-advanced{
    color: black;
    font-size: 20px;

}

.div-advanced{
    margin: 35px
}

.row-input{
    display: flex;
    flex-direction: row;
    margin: 35px;
    align-items: center;
}

.left{
    width:200px;
}

.right{
    width: 500px;
}


.btn-div{
    display: flex;
    justify-content: flex-end;
    width: 735px;
}

.btn-advanced{
    box-shadow: none;
    background-color: #357ae8;
    border: 1px solid #2f5bb7;
    color: #fff
}


